{{ define "main" }}
  <div class='row mt-3'>
    <div class='offset-lg-2 col-lg-8 col-xs-12 text-xs-center'>
      <h1>
        {{ partial "components/pages/title" . }}
      </h1>
    </div>
  </div>

  <div class="row mt-3">
    {{ range sort (where .Pages "Params.hidden" "!=" "true") }}
      <div class='col-lg-4 col-xs-12'>
        <div class="card">
            <a href="{{ .RelPermalink }}">
              {{ $path := .RelPermalink}}
              {{ $page := . }}
              {{ with .Params.illustration }}
                {{ $description := .description }}
                {{ with $page.Resources.GetMatch .name }}
                   {{ $image := .Resize "400x webp" }}
              <img alt="{{ $description }}"
                   src="{{ $image.RelPermalink }}"
                   class="card-img-top talk-illustration"/>
                {{ end }}
              {{ end }}
            </a>
          <div class="card-block">
            <a href="{{ .RelPermalink }}">
              <h4 class="card-title">
                {{ partial "components/pages/title" . }}
              </h4>
            </a>
            <div class="text-xs-right">
              <small>
                {{ partial "components/pages/tags" .}}
              </small>
            </div>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}
