<div class="row">
  <div class="offset-md-2 col-md-8 offset-xs-1 col-xs-10 text-xs-center">
    {{ $image := dict "name" (.Get "name") "description" (.Get "description") "class" (.Get "class") "source" (.Get "source") "legend" (.Get "legend")}}
    {{ partial "components/image" (dict "image" $image "path" $.Page.RelPermalink "resource" ($.Page.Resources.GetMatch ( printf "*%s*" (.Get "name")))) }}
  </div>
</div>
