<div style=" overflow: hidden; ">
  <figure>
    <img alt="{{ .image.description }}"
         src="{{- (.resource.Resize "1140x jpg").Permalink -}}"
         class="rounded {{ .class | default "img-fluid" }}"/>
    <figcaption>
      {{ with .image.source }}
        <span class="img-credit float-xs-right">
          <a href="{{ . }}">Source</a>
        </span>
      {{ end }}
      {{ with .image.legend }}
        <span>
          <small>{{ . }}</small>
        </span>
      {{ end }}
    </figcaption>
  </figure>
</div>
