{{ if .data }}
<div class="row mt-3">
  <div class="offset-lg-2 col-lg-2 col-md-4 text-xs-center offset-xs-2 col-xs-8">
    <a href="/authors/{{.id | urlize}}">
      <img alt="Photo {{ .data.name }}" class="img-fluid rounded-circle" src="{{ site.BaseURL }}assets/images/people/{{ .id }}.jpg" />
    </a>
    {{ range .data.organisations }}
      <div class="organisation-logo">
        <a href="{{ .url }}">
          <img src="{{ site.BaseURL }}assets/images/organisation/{{ .logo }}" alt="Logo {{ .name }}" />
        </a>
      </div>
    {{ end }}
  </div>
  <div class="col-lg-6 col-md-8 col-xs-12">
    <h3>
      <a href="/authors/{{.id | urlize}}">
        {{ .data.name }}
      </a>
      <small>
        <span class="circled-icon">
          {{ range .data.social }}
            <a href="{{ .url }}"><i class="fa {{ .icon }}"></i></a>
          {{ end }}
        </span>
      </small>
    </h3>
    <div class="text-justify">
      {{ with .data.bio }}{{ . | markdownify }}{{ end }}
    </div>
  </div>
</div>
{{ else }}
<div class="row mt-3">
  <div class="offset-lg-2 col-lg-2 col-md-4 text-xs-center offset-xs-2 col-xs-8">
    ?
  </div>
  <div class="col-lg-6 col-md-8 col-xs-12">
    <h3>
      {{ .id }}
    </h3>
  </div>
</div>
{{ end }}
