{{ if .Params.ressources }}
  <h2>{{ i18n "resources" }}</h2>
  <ul>
    {{ range .Params.ressources }}
      <li>
        <a href="{{ .file }}">
          <i class="fa fa-download"></i> {{ .name }}
          {{ with .icon}}<img class="float-xs-right" src='{{ site.BaseURL }}assets/images/{{ . }}' height="30">{{ end }}
        </a>
      </li>
    {{ end }}
  </ul>
{{ end }}
