<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ partial "components/articles/description" . }}">
{{ if isset .Params "illustration"}}
    {{ with .Resources.GetMatch .Params.illustration.name }}
        {{ $image_url := (.Resize "750x jpg").Permalink }}
        <meta name="twitter:image" content="{{- $image_url -}}">
        <meta name="og:image" content="{{- $image_url -}}">
    {{ end }}
{{ end }}
