<!DOCTYPE html>
<html>
  {{ partial "head" . }}
  <body>
    {{ partialCached "header" . }}
      <div class="container">

        <div class='row mt-3'>
          <div class='offset-lg-2 col-lg-8 col-xs-12 text-xs-center'>
            <h1>
              {{ partial "components/pages/title" . }}
            </h1>
          </div>
        </div>

        <div class='row mt-3'>
          <div class="offset-lg-2 col-lg-8 col-xs-12">
            {{ range $key, $value := .Site.Taxonomies.authors }}
              {{ $data := index $.Site.Data.people $key }}
              {{ $contributions := (where $value "Page.Params.hidden" "!=" "true") }}
              {{ $last_contribution := (index $contributions 0).Page.Date }}
              {{ $muted := now.After ($last_contribution.AddDate 0 6 0) }}
              <div class="card mt-1">
                <div class="card-header">
                  <h2>
                    <div class="float-xs-right">
                      <small>
                        <span class="circled-icon">
                          {{ range $data.social }}
                            <a href="{{ .url }}"><i class="fa {{ .icon }}"></i></a>
                          {{ end }}
                        </span>
                      </small>
                    </div>
                    <a href="{{ $.Site.LanguagePrefix }}/authors/{{ $key | urlize }}">
                      {{ if (fileExists (printf "/static/assets/images/people/%s.jpg" $key)) -}}
                        <img alt="Photo {{ $data.name }}" width=40 class="rounded-circle" src="{{ $.Site.BaseURL }}assets/images/people/{{ $key }}.jpg" />
                      {{ else -}}
                        <i class="fa fa-user"></i>
                      {{ end }}
                    </a>
                    <a href="{{ $.Site.LanguagePrefix }}/authors/{{ $key | urlize }}">
                      {{- $data.name -}}
                    </a>
                  </h2>
                  <small>
                  <div>
                      <span class="tag tag-pill {{ if $muted }}tag-default{{else}}tag-primary{{end}}">
                        {{- len $contributions -}}
                      </span>
                      &nbsp;
                      {{- i18n "contributions" (len $value.Pages) -}},
                      {{ i18n "last_contribution" }} {{ $last_contribution | dateFormat $.Site.Params.date_format.default }}
                  </div>
                </small>
                </div>
              </div>
            {{ end }}
          </div>
        </div>
      </div>
    {{ partial "footer" . }}
  </body>
</html>
