{{ define "head_custom" }}
  {{ partial "components/articles/social-metadata" . }}
{{ end }}
{{ define "main" }}
  {{ $image := (dict "image" .Params.illustration "path" .RelPermalink "resource" (.Resources.GetMatch ( printf "*%s*" .Params.illustration.name)) )}}
  {{ with .Params.style}}
    <style>
      {{ . | safeCSS }}
    </style>
  {{ end }}

  {{ partial "components/articles/semantic-web" . }}

  <div class="row mt-3">
    <div class="offset-lg-2 col-lg-8 col-xs-12">
      {{ partial "components/draft" . }}
      <h1>
        {{ partial "components/pages/title" . }}
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="offset-lg-2 col-lg-8 col-xs-12">
      <small>
        <div class="float-xs-right">
          {{ partial "components/pages/categories" . }}
          {{ partial "components/pages/tags" . }}
        </div>
        <div>
          <i class='fa fa-calendar'></i> {{ .Lastmod | dateFormat $.Site.Params.date_format.default }}
          &nbsp;—&nbsp;
          <i class='fa fa-clock-o'></i> {{ i18n "reading_time" .ReadingTime }}
        </div>
      </small>
    </div>
  </div>

  <div class="row mt-2">
    <div class="offset-lg-2 col-lg-8 col-xs-12">
      {{ if isset .Params "illustration"}}
        {{ partial "components/image" $image }}
      {{ end }}
    </div>
  </div>

  <div class="row mt-3">
    <div class="offset-lg-2 col-lg-8 col-xs-12 text-justify">
      {{ .Content }}
    </div>
  </div>

  {{ range .Params.authors }}
    {{ partial "components/people" (dict "id" . "data" (index $.Site.Data.people .) ) }}
  {{ end }}
{{ end }}
