{{ define "main" }}
  <div class="row mt-3">
    <div class="offset-lg-2 col-lg-8 col-xs-12 text-justify">
      <h1>
        {{ partial "components/pages/title" . }}
      </h1>
      {{ if isset .Params "illustration"}}
        {{ partial "components/image" (dict "image" .Params.illustration "path" .RelPermalink ) }}
      {{ end }}
    </div>
  </div>

  <div class="row mt-3">
    <div class="offset-lg-2 col-lg-8 col-xs-12 text-justify">
      <h2>Evènements</h2>
    </div>
  </div>

  {{ $city := index (split .File "/") 1 }}
  {{ range where (where .Site.Pages "Section" "events") ".Params.city" "==" $city }}
    <div class="row mt-2">
      <div class="offset-lg-2 col-lg-8 col-xs-12 text-justify">
        <div class="card bg-light-gray">
          <div class="card-header">
            <div>
              <i class="fa fa-fw fa-calendar-o rose" aria-hidden="true"></i>
                {{ .Lastmod | dateFormat $.Site.Params.date_format.default }}
                &nbsp;—&nbsp;
                {{ .Params.when | markdownify }}
            </div>
          </div>
          <div class="card-block">
            <h3>
              <a href="{{ .RelPermalink }}">
                {{ partial "components/pages/title" . }}
              </a>
            </h3>
            <div>
              <i class="fa fa-fw fa-map-marker rose"></i>
              {{ .Params.where | markdownify }}
            </div>
          </div>
        </div>
      </div>
    </div>
  {{ end }}
{{ end }}
