<!DOCTYPE html>
<html>
  {{ partial "head" . }}
  <body>
    {{ partialCached "header" . }}

    <div class="full">
      <div class="container">
        <div class="row mt-2">
          <div class="col-lg-6 offset-lg-3">
            <img src="assets/images/logo-ajiro.svg" class="img-fluid mx-auto" />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-lg-12">
            <div class="jumbotron">
              <p class="text-xs-center">{{ .Site.Data.values.purpose }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="full" id="home--values">
      <div class="container">
        <div class="row mt-2">
          <div class="col-lg-12 text-xs-center">
            <h2>Nos Valeurs</h2>
          </div>
        </div>
        {{ range $index, $value := .Site.Data.values.list }}
          {{ if eq (mod $index 2) 0 }}
            <div class="row mt-2">
          {{ end }}
          <div class="col-lg-6 text-xs-center value">
            <h3>{{$value.name}}</h3>
            <div class="value-icon rose"><i class="fa {{$value.icon}}"></i></div>
            <ul>
              {{ range $value.descriptions }}
                <li>{{ . }}</li>
              {{ end }}
            </ul>
          </div>
          {{ if eq (mod $index 2) 1 }}
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>

    <div class="full">
      <div class="container">
        <div class="row mt-3">
          <div class="col-lg-12 text-xs-center">
            <h2>Nos publications récentes</h2>
          </div>
        </div>
        <div class="row mt-2">
          <div class="offset-lg-2 col-lg-8 col-xs-12">
            {{ $pages := (where .Site.RegularPages "Params.hidden" "!=" "true") }}
            {{ range first 10 $pages }}
                {{ partial "components/pages/short-ref" . }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>

    <div class="full">
      <div class="container">
        <div class="row mt-3">
          <div class="col-lg-12 text-xs-center">
            <h2>Nous rencontrer</h2>
            <p class="text-xs-center">Si vous souhaitez nous rencontrer nous tenons un forum ouvert une fois par semaine. Avec la crise sanitaire, ce rendez-vous est en ligne.
          </div>
        </div>
        <div class="row mt-2">
          <div class="offset-lg-2 col-lg-4 home__rdv-detail">
            <div class="value-icon rose"><i class="fa fa-calendar"></i></div>
            <div class="home__rdv-libelle">
            le mardi soir de 19h00 à 22h00 en visio et tout le reste de la semaine par écrit
            </div>
          </div>
          <div class="col-lg-4 home__rdv-detail">
            <div class="value-icon rose"><i class="fa fa-matrix-org"></i></div>
            <div class="home__rdv-libelle">
                <a href="https://matrix.to/#/#ajiro:matrix.org?via=matrix.org">#ajiro:matrix.org</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{ partial "footer" . }}
  </body>
</html>
