{{ define "main" }}
  <div class="row mt-3">
    <div class="offset-lg-2 col-lg-8 col-xs-12 text-justify">
      <h1>
        {{ partial "components/pages/title" . }}
      </h1>

      {{ if isset .Params "illustration"}}
        {{ partial "components/image" (dict "image" .Params.illustration "path" .RelPermalink ) }}
      {{ end }}

      <div class="card bg-light-gray">
        <div class="card-block">
          <h2>{{ i18n "objectives" }}</h2>
          <p>{{ .Params.objectives | markdownify }}</p>
          <p>
            <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i> {{ .Params.duration }}
            <br>
            <i class="fa fa-fw fa-users" aria-hidden="true"></i> {{ .Params.participants }}
            {{ if .Params.Tags }}
              <br>
              {{ partial "components/pages/tags" . }}
            {{ end }}
          </p>

          <h2>{{ i18n "materials" }}</h2>
          <ul>
            {{ range .Params.materials}}
              <li>{{ . }}</li>
            {{ end }}
          </ul>

          {{ partial "components/ressources" . }}

        </div>
      </div>

      {{ .Content }}

      {{ range .Params.authors }}
        {{ partial "components/people" (dict "id" . "data" (index $.Site.Data.people .) ) }}
      {{ end }}

      {{ partial "components/references" . }}

    </div>
  </div>
{{ end }}
