<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="google-site-verification" content="0UarB19ujkdjHMYL15bSqcuRcxzqWHoaPUyiaP0ErMQ" />
<!-- Forcing Internet Explorer to use its latest rendering mode -->
<meta http-equiv="x-ua-compatible" content="ie=edge">

<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
{{ hugo.Generator }}

{{ with .Site.Params.description }}
  <meta name="description" content="{{ . }}">
{{ end }}

<link rel="canonical" href="{{ .Permalink }}">

{{ with .Site.Params.author }}
  <meta name="author" content="{{ . }}">
{{ end }}

{{ with .Site.Title }}<meta property="og:title" content="{{ . }}">{{ end }}
{{ with .Site.Params.logo }}<meta property="og:image" content="{{ $.Site.BaseURL }}{{ . }}">{{ end }}

<link rel="shortcut icon" type="image/png" href="{{ .Site.BaseURL }}assets/images/icon-ajiro.png">

<link rel='stylesheet' href='{{ .Site.BaseURL }}assets/vendor/bootstrap-{{.Site.Params.version.bootstrap}}/css/bootstrap.min.css'>
<link rel='stylesheet' href='{{ .Site.BaseURL }}assets/vendor/bootstrap-{{.Site.Params.version.bootstrap}}/css/bootstrap-flex.min.css'>
<link rel='stylesheet' href='{{ .Site.BaseURL }}assets/vendor/fork-awesome-{{.Site.Params.version.fork_awesome}}/css/fork-awesome.min.css'>
<link rel='stylesheet' href='{{ .Site.BaseURL }}assets/stylesheets/ajiro.css'>

<script src='{{ .Site.BaseURL }}assets/vendor/jquery-{{.Site.Params.version.jquery}}.min.js' defer></script>
<script src='{{ .Site.BaseURL }}assets/vendor/bootstrap-{{.Site.Params.version.bootstrap}}/js/bootstrap.min.js' defer></script>

{{ range .AlternativeOutputFormats -}}
{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

